# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook Cache
.ipynb_checkpoints/

# Environment Variables
.env
.venv

# VS Code Settings
.vscode/

# System Files
.DS_Store
Thumbs.db

# NLTK Download Cache (optional)
nltk_data/

# Build Files
build/
dist/